* {
  box-sizing: border-box;
  font-family: var(--font-poppins);
}
div {
  display: block;
}
section {
  padding: 30px;
  position: relative;
  padding: 60px 60px 300px;
  background: #b0c2f8;
  
}
h1{
      display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title{
      color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
        font-size: 36px;
    line-height: 50px;
    letter-spacing: .2vh;
}
.wrapper{
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 1200px;
}